.DS_Store
*.log
*.iml
.idea/
.trae/
.gradle/
local.properties
**/build/
**/obj/
**/.cxx/
captures/
*.apk
*.ap_
*.keystore
*.jks
*.orig
PhoneFocusFarm/gradle/
PhoneFocusFarm/gradle-install/
PhoneFocusFarm/tools/
.kotlin/
